.blog_post{				/* body框架 */
	padding-left: 50px;
}

.post-img{				/* image */
	padding-top: 20px;
	width:750px; 
  	height:400px;  
}

.post-title{			/* Title */
	font-weight: bold;
	font-family:Microsoft JhengHei;		/* 微軟正黑體 */
	padding: 5px 10px 5px 10px;
}

.ellipsis {
overflow:hidden;
white-space: nowrap;
text-overflow: ellipsis;
font-family:PMingLiU;					/* 新細明體字型 */
}

.content {				/* blog */
	width: 600px;
	padding: 10px;
}

.content-post {			/* blog_post */
	font-family:PMingLiU;				/* 新細明體字型 */
	padding: 10px 15px 10px 15px;
}

.btn-small{				/* Reader me 按鈕*/
	padding: 5px 10px 5px 10px;
	background-color: #333;
	margin-bottom: 60px;
}
		
.page{					/* 頁碼 */
	padding-left: 400px;
}