.trip {
    font-family: Microsoft JhengHei;
}
.trip-cell {
    position: relative;
    text-align: left;
    color: white;
    margin-top:20px;
    margin-bottom:20px;
    clear:both;
}
.trip-cell-profile-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.trip-cell-title {
    position: absolute;
    bottom: 30px;
    left: 100px;
    font-size:50px;
    font-family: Microsoft JhengHei;
}
.trip-cell-date {
    position: absolute;
    bottom: 10px;
    left: 100px;
    font-size:10px;
}
.day-flag {
    position: relative;
    left: 100px;
    background-color: #ff33cc;
    display:inline-block;
    color:white;
    font-size:200%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.trip-list-number {
    font-size: 200%;
}
.trip-list-title {
    font-size: 200%;
    float:left;
    position:relative;
    left:15%;
    margin-top:3%;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 15px;
    width:50%;
    height: 10%;
    color:black;
}
.trip-list-title span {
    color: #666699;
    font-size: 80%;
}
.trip-list-addbtn {
    clear:both;
    margin-top: 7%;
    position: relative;
    left:33%;
    cursor:pointer;
    top:15px;
}
#map {
     height: 100%;
     width: 70%;
     position: relative;
     /*margin-top: 5%;*/
     top:0%;
     left:0%;
 }
#date-number {
    background-color:#fff;
   border:1px solid  #ff33cc;
   height:50px;
   border-radius:50%;
   -moz-border-radius:50%;
   -webkit-border-radius:50%;
   width:50px;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
#dialog {
  width:90%;
  height:90%;
  border-style: none;
  position: fixed;
  top:5%;
  left:5%;
  background-color:transparent;
  z-index: 999;
}
#listing {
  position: absolute;
  width: 30%;
  height: 100%;
  overflow: auto;
  left: 69.5%;
  top: 1.5%;
  cursor: pointer;
  overflow-x: hidden;

}
.addbtn {

}